.grid {
  display: grid;
  grid-template-rows: 1fr;
  gap: 5px;
  margin-bottom: 30px;
}

.grid:first-child {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid:last-child {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.items:nth-child(odd) {
  background-color: violet;
}

.items:nth-child(even):nth-child(even) {
  background-color: turquoise;
}
