%button {
	font-family: 'Ubuntu Mono', monospace;
	color: black;
	font-size: 15px;
	padding: 25px 50px;
	background-color: white;
	border: 1px solid black;
	text-decoration: none;
	transition: all .3s ease-in-out;
	&:hover {
		color: white;
		background-color: black;
	}
}

%dotted-line {
	background-image: linear-gradient(90deg, black 50%, transparent 0), linear-gradient(90deg, black 50%, transparent 0), linear-gradient(180deg, black 50%, transparent 0), linear-gradient(180deg, black 50%, transparent 0);
	background-position: 0 0, 0 100%, top left, top right;
	background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	animation: 0.4s infinite normal spin;
	animation-timing-function: linear;
	animation-play-state: paused;
	cursor: pointer;
	&:hover {
		animation-play-state: running;
	}
}

%stripe-line {
	background-image: repeating-linear-gradient(-75deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 1px, transparent 1px, transparent 4px), repeating-linear-gradient(-75deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,0.2) 1px, transparent 1px, transparent 4px);
	background-position: 0 0,0 100%;
	background-size: 100% 15px, 100% 15px;
	background-repeat: repeat-x, repeat-x;
	cursor: pointer;
}