$sky-light: rgb(181, 202, 192);
$sky-dark: rgb(158, 194, 178);
$blue-light: rgb(124, 156, 160);
$blue-dark: rgb(99, 148, 154);
$brown-light: rgb(229, 217, 195);
$brown-dark: rgb(223, 205, 170);
$yellow-light: rgb(211, 172, 85);
$yellow-dark: rgb(212, 163, 53);
$orange-light: rgb(201, 139, 86);
$orange-dark: rgb(201, 123, 55);
$red-light: rgb(187, 131, 101);
$red-dark: rgb(185, 111, 72);
$green-light: rgb(177, 173, 131);
$green-dark: rgb(172, 167, 105);