@import "_variables";

.header {
	display: flex;
	flex-direction: column;
	width: 33%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $white;
	color: $red;
	justify-content: center;
}

.header-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40%;
	h1 {
		font-size: 80px;
	}
}
