@import "_variables";
@import "_extends";

body {
	font-family: 'Open Sans', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $black;
}

.main-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	margin-top: 15vh;
	.main-content {
		padding-bottom: 20vh;
		border-bottom: $border;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main-content__img {
		width: 100%;
		height: 60vh;
		background-size: cover;
	}
	.main-content__title {
		@extend %title;
		margin-top: 8vh;
	}
	.main-content__texts {
		span {
			font-size: 23px;
			font-weight: 600;
			margin-right: 4vw;
		}
		font-size: 33px;
		line-height: 1.5;
	}

	.buttons {
		display: flex;
	}

	.button {
		@extend %button;
	}
}

.main-content__gallery {
	display: grid;
	gap: 35px;
	height: auto;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	padding: 2vh 0;
	border-bottom: $border;
	.main-content__gallery__img {
		width: 100%;
		height: 100%;
		background-size: cover;
	}
	.main-content__gallery__texts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.main-content__title {
			margin-top: 0;
			margin-bottom: 3vh;
			font-size: 25px;
			letter-spacing: 0px;
		}
		p {
			font-size: 33px;
			line-height: 1.5;
		}
	}
	&:nth-child(2), 
	&:nth-child(4) {
		.main-content__gallery__img {
			order: 1;
		}
	}
	&:last-child {
		gap: 10px;
		height: 60vh;
		.main-content__gallery__mix {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.main-content__gallery__img {
				width: 100%;
				background-size: cover;
			}
			.main-content__title {
				margin-top: 0;
				margin-bottom: 3vh;
				font-size: 25px;
				letter-spacing: 0px;
			}
			p {
				font-size: 23px;
				line-height: 1.5;
			}
		}
	}
}

.main-content__more {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	height: 40vh;
}