@import "_variables";

body {
	background-color: $brown;
	color: $brown;
}

.main {
	height: 100vh;
	display: grid;
	gap: 1px;
	grid-template-columns: 1.4fr 2fr 1.4fr;
	grid-template-rows: 1fr 5fr 1fr;
	& > * {
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img {
		width: 100%;
		height: 100%;
	}
	span {
		font-size: 30px;
		transition: background-color .3s ease-in-out;
		&:nth-child(3){
			cursor: pointer;
			text-transform: uppercase;
			&:hover {
			background-color: $brown;
			color: white;
			}
		}
	}
	.moving-text {
		white-space: nowrap;
		overflow: hidden;
		span{
			animation: moving 3s linear infinite forwards;
		}
	}
}

@keyframes moving {
	0% {
		transform: translateX(-150px);
	}
	50% {
		transform: translateX(150px);
	}
	100% {
		transform: translateX(-150px);
	}
}

.wrapper {
	background-color: $brown;
	span {
		cursor: pointer;
		transition: background-color .3s ease-in-out;
		&:hover {
			background-color: $brown;
			color: white;
		}
	}
}

.numbers {
	width: 100%;
	height: 100%;
	display: grid;
	gap: 1px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	& > * {
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}